*
{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}
#text{
margin: 10px 5px 12px 7px;
color: blue;
font-size: 12px;
font-weight:500;
font-weight: bold;
}
.text
{
  color: red;
  font-size: 24px;
}

ul li 
{
  color: yellow;
}
li a
{
  text-decoration: none;
}
ul +  p
{
  color: red;
}